
@model MVCRequestSample.Models.AdditionViewModel
@{
    ViewBag.Title = "Add two numbers together";
}

<h2>Add two numbers together</h2>



@using (Html.BeginForm("Index", "Home"))
{
    @Html.AntiForgeryToken()
    <p class="alert-info"><strong>All fields are required</strong>.</p>
    <div class="form-group">
        @Html.LabelFor(x => x.FirstNumber, "First Number")<br />
        @Html.TextBoxFor(x => x.FirstNumber, new { @class = "form=control", type = "number", required = "required" })<br />
        @Html.ValidationMessageFor(x => x.FirstNumber)
    </div>
    <span>&#x2795;</span>
    <div class="form-group">
        @Html.LabelFor(x => x.SecondNumber, "Second Number")<br />
        @Html.TextBoxFor(x => x.SecondNumber, new { @class = "form=control", type = "number", required = "required" })<br />
        @Html.ValidationMessageFor(x => x.SecondNumber)
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" text="Add">
        <input class="btn btn-default" type="reset" text="Reset">
    </div>
}


    <div>Result:    @Model.Result   </div>
